<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delfin em Quem?</title>
</head>
<body>

    <h1>Compras Semanais</h1>
    <button> Voltar </button>
    <br>
    <input type="text" name="nome" placeholder="Nova Tarefa"/>
    <button> Adicionar </button>
    <ul> 
        {% for item in items %}
            <li> 
                {{ item.text }}
                <button> Concluído </button>
                <button> Excluir </button>
            </li>
        {% endfor %}
       
    </ul>
   
</body>
</html>